.modelDiv {
  height: 500px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
  width: 90vw;
  margin: 0 auto;
  border-radius: 15px;
  border: 3px solid rgb(214, 214, 214);
  /* overflow: hidden; */
  position: relative;
  overflow: hidden;
  cursor: grab;
}
.modelButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.modelButtons img {
  width: 30px;
}
.modelButtons button {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.229);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modelButtons button:hover {
  scale: 1.01;
}
.modelColors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.modelColors div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.modelColors div:hover {
  scale: 1.1;
}
.loaderSpinner {
  scale: 0.5;
}
.wrapper {
  cursor: default;
}

.bottomElements {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Default: one on left, one on right */
  padding: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 20px; /* Adjust space between wrapped elements */
}

.bottomElements > * {
  white-space: nowrap; /* Prevents elements from stretching */
}

@media (max-width: 500px) {
  /* Adjust breakpoint as needed */
  .bottomElements {
    justify-content: center; /* Centers when wrapped */
  }

  .bottomElements > * {
    width: auto; /* Keeps width based on content */
    text-align: center; /* Aligns text when stacked */
  }
}
